#gaddon-setting-row-fields > td {
	padding-bottom: 0;
}

#gaddon-setting-row-custom_fields > td{
	padding-top: 0px;
}

#gaddon-setting-row-custom_fields .repeater th {
	padding-top: 2px;
}

#gaddon-setting-row-custom_fields .repeater th {
	width: 220px;
}

#gaddon-setting-row-fields td select,
#gaddon-setting-row-custom_fields .repeater td select {
	margin-right: 6px;
	max-width: none;
	width: 200px;
}

#gaddon-setting-row-custom_fields .settings-field-map-table .custom-key-reset {
	margin-left: 172px;
}